.form-card {
    background: #fff;
    border-radius: 12px;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -2; /* fica atrás de tudo */
    filter: brightness(60%);
}