body {
    background-image: url('../img/DogBG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    width: 500px;
    height:500px;
    margin-top: 20vh;
}

.login-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}
