html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

header nav {
    background-image: linear-gradient(#020024, #090979, #00D4FF);
}

footer {
    background-image: linear-gradient(#020024, #090979, #00D4FF);
}

.navbar .nav-link { /*Estilo da navbar e links*/
    color: white !important;
    font-size: 1.6rem;
    font-weight: 500; /* Deixa mais encorpado */
    padding-top: 0.9rem; /*Tamanho do header*/
    padding-bottom: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #3bffc4 !important; /* hover */
    background-image: linear-gradient(#020024,#090979,#00D4FF);
    border-radius: 4px;
}

.navbar-brand { /*Título*/
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px; /* Espaçamento nas letras*/
}