@{
    ViewData["Title"] = "Catálogo Petshop";
}

<link href="~/css/Catalogo.css" rel="stylesheet" />

<video autoplay loop muted playsinline class="bg-video">
        <source src="~/videos/videoplayback.mp4" type="video/mp4" />
</video>

<div class="catalog-container">

    <!-- Seção de Produtos -->
    <h3 class="subtitulo mt-4">Produtos para Pets</h3>
    <div class="produtos-container">
        <div class="card-produto">
            <img src="~/img/racaopremium.jpg" alt="Ração Premium" />
            <h4>Ração Premium</h4>
            <p>Nutrição completa para seu pet</p>
            <span class="preco">R$ 89,90</span>
        </div>


        <div class="card-produto">
            <img src="~/img/cachorro2.jpg" alt="Coleira" />
            <h4>Coleira Fashion</h4>
            <p>Conforto e estilo</p>
            <span class="preco">R$ 39,90</span>
        </div>


        <div class="card-produto">
            <img src="~/img/cachorro.jpg" alt="Caminha" />
            <h4>Caminha Luxo</h4>
            <p>Conforto garantido</p>
            <span class="preco">R$ 129,90</span>
        </div>
    </div>
</div>