@model ProjetoEcommerce.Models.Usuario;

@{
    ViewData["Title"] = "Login";
}
<link href="~/css/login.css" rel="stylesheet" />

<div class="container">
    <div class="col-md-8 login-container">
        <div class="card login-card">
            <div class="card-header bg-primary text-white text-center">
                <h2>Acesso à Conta</h2>
            </div>
            <div class="card-body">

                <form asp-controller="Login" asp-action="Entrar" method="post">

                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email"
                               class="form-control"
                               placeholder="seu.email@exemplo.com" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Senha" class="form-label"></label>
                        <input asp-for="Senha"
                               class="form-control"
                               placeholder="••••••••" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
