@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />


<div class="split-wrapper d-flex">

    <!-- Imagem à esquerda -->
    <div class="split-left"></div>

    <!-- Conteúdo à direita -->
    <div class="split-right d-flex flex-column justify-content-center">
        <div class="content-box">

            <h1 class="display-4 fw-bold text-dark">MundoPet - Produtos para Cães e Gatos</h1>

            <p class="lead mb-4">
                Bem-vindo à nossa loja on-line! Cadastre e consulte produtos para pets de forma simples e eficiente.
            </p>

            <div class="d-flex flex-wrap gap-3">
                <a class="btn btn-primary btn-lg" asp-controller="#" asp-action="#">Consulte nosso catálogo agora mesmo!</a>
            </div>

        </div>
    </div>

</div>